@import "../Base/resets","../Base/typography";
@import "./variables","./mixins";

    .partenaires {
    width: 100%;
    height: 10rem;
    background-color: $primaryColors;
    text-align: center;

    h4 {
        color: $whiteColors;
        padding: 2rem;
    }
    ul {
        @include flex (center);

        img {
            padding: 0 2rem;
        }
    }
}

