$primaryColors: black;
$whiteColors: white;
$secondaryColors: #cd3bd3;
$thirdColors: #fafafa;
$fourthColors: #2b2b2b;
$shadow: 0px 3rem 3rem grey;


/* RESPONSIVE */

$tablet:  1024px;
$phone:  769px;